{% extends "tienda/layout.html" %} 
{% load static %}
{% block content %}

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item1-slick1" style="background-image: url({% static 'tienda/images/index1.jpg' %});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
							Lo que necesites te lo llevamos!
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">
							#QUEDATEENCASA
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							<a href="{% url 'products_list' 1 %}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Compra en línea!
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" style="background-image: url({% static 'tienda/images/index2.jpg' %});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rollIn">
							Tenemos los mejores precios!
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn">
							Siempre pensando en vos!
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<!-- Button -->
							<a href="{% url 'products_list' 1 %}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Compra ahora!
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Banner -->
	<div class="banner bgwhite p-t-40 p-b-40">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
					<!-- block1 -->
					<div class="block1 hov-img-zoom pos-relative m-b-30">
						<img src="{% static 'tienda/images/cerradura1.jpg' %}" alt="IMG-BENNER">

						<div class="block1-wrapbtn w-size2">
							<!-- Button -->
							<a href="{% url 'products_list' 1 %}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
								Cerrajería
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
					<!-- block1 -->
					<div class="block1 hov-img-zoom pos-relative m-b-30">
						<img src="{% static 'tienda/images/grifo1.jpg' %}" alt="IMG-BENNER">

						<div class="block1-wrapbtn w-size2">
							<!-- Button -->
							<a href="{% url 'products_list' 2 %}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
								Grifería
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
					<!-- block1 -->
					<div class="block1 hov-img-zoom pos-relative m-b-30">
						<img src="{% static 'tienda/images/pintura1.jpg' %}" alt="IMG-BENNER">

						<div class="block1-wrapbtn w-size2">
							<!-- Button -->
							<a href="{% url 'products_list' 3 %}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
								Pinturas
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Our product -->
	<section class="bgwhite p-t-45 p-b-58">
		<div class="container">
			<div class="sec-title p-b-22">
				<h3 class="m-text5 t-center">
					Nuestros productos
				</h3>
			</div>

			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#cerrajeria" role="tab">Cerrajería</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#griferia" role="tab">Grifería</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#pinturas" role="tab">Pinturas</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-35">
					<!-- - -->
					<div class="tab-pane fade show active" id="cerrajeria" role="tabpanel">
						<div class="row">

							{% for product in cerrajeria %}

							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative ">
										<img name="imagen" src="{% static 'tienda/images/' %}{{ product.imagen }}" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">
											<a href="{% url 'product_detail' product.id %}" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button onclick="location.href='{% url 'product_detail' product.id %}'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Ver articulo
												</button>
											</div>																		
										</div>
									</div>

									<div class="block2-txt p-t-20">
										<a name="nombre" href="{% url 'product_detail' product.id %}" class="block2-name dis-block s-text3 p-b-5">
											{{ product.nombre }}
										</a>

										<span name="precio" class="block2-price m-text6 p-r-5">
											₡{{ product.precio }}
										</span>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>

					<!-- - -->
					<div class="tab-pane fade" id="griferia" role="tabpanel">
						<div class="row">

							{% for product in griferia %}

							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative ">
										<img name="imagen" src="{% static 'tienda/images/' %}{{ product.imagen }}" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">
											<a href="{% url 'product_detail' product.id %}" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button onclick="location.href='{% url 'product_detail' product.id %}'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Ver articulo
												</button>
											</div>																		
										</div>
									</div>

									<div class="block2-txt p-t-20">
										<a name="nombre" href="{% url 'product_detail' product.id %}" class="block2-name dis-block s-text3 p-b-5">
											{{ product.nombre }}
										</a>

										<span name="precio" class="block2-price m-text6 p-r-5">
											₡{{ product.precio }}
										</span>
									</div>
								</div>
							</div>
							{% endfor %}
		
						</div>
					</div>

					<!--  -->
					<div class="tab-pane fade" id="pinturas" role="tabpanel">
						<div class="row">

							{% for product in pinturas %}

							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative ">
										<img name="imagen" src="{% static 'tienda/images/' %}{{ product.imagen }}" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">
											<a href="{% url 'product_detail' product.id 0 %}" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button onclick="location.href='{% url 'product_detail' product.id %}'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Ver articulo
												</button>
											</div>																		
										</div>
									</div>

									<div class="block2-txt p-t-20">
										<a name="nombre" href="{% url 'product_detail' product.id %}" class="block2-name dis-block s-text3 p-b-5">
											{{ product.nombre }}
										</a>

										<span name="precio" class="block2-price m-text6 p-r-5">
											₡{{ product.precio }}
										</span>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>					
				</div>
			</div>
		</div>
	</section>
{% endblock content %}