{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'tienda/images/icons/favicon.png' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'tienda/css/main.css' %}">
<!--===============================================================================================-->

</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>

				<span class="topbar-child1">
					Envio gratis!
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						ferreteria@ferreteria.com
					</span>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="{% url 'index' %}" class="logo">
					<h1> Ferretería </h1>
					<!--<img src="{% static 'tienda/images/icons/logo.png' %}" alt="IMG-LOGO">-->
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{% url 'index' %}">Inicio</a>
							</li>

							<li>
								<a>Tienda</a>
								<ul class="sub_menu">
									<li><a href="{% url 'products_list' 1 %}">Cerrajería</a></li>
									<li><a href="{% url 'products_list' 2 %}">Grifería</a></li>
									<li><a href="{% url 'products_list' 3 %}">Pinturas</a></li>
								</ul>
							</li>
 
							<li>
								<a href="">Ofertas</a>
							</li>

							<li>
								<a href="{% url 'about'%}">Nosotros</a>
							</li>

							<li>
								<a href="{% url 'contact' %}">Contáctanos</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">

					{% if user.is_authenticated %}

						<div class="header-wrapicon2">
							<img src="{% static 'tienda/images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
							Ver carrito

							<!-- Header cart noti -->
							<div class="header-cart header-dropdown">						
								<div class="header-cart-buttons">
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="{% url 'cart' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Ver carrito
										</a>
									</div>
								</div>
							</div>
						</div>

						<span class="linedivide1"></span>

						<div class="header-wrapicon2">
							<img src="{% static 'tienda/images/icons/icon-header-01.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
							Cerrar sesión

							<!-- Header cart noti -->
							<div class="header-cart header-dropdown">						
								<div class="header-cart-buttons">
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="{% url 'logout' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Cerrar sesión
										</a>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<div class="header-wrapicon2">
							<img src="{% static 'tienda/images/icons/icon-header-01.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
							Iniciar sesión

							<!-- Header cart noti -->
							<div class="header-cart header-dropdown">						
								<div class="header-cart-buttons">
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="{% url 'login' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Iniciar sesión
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="{% url 'index' %}" class="logo-mobile">
				Ferretería
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
					<div class="header-icons-mobile">	
					{% if user.is_authenticated %}				
						<a href="{% url 'login' %}" class="header-wrapicon1 dis-block">
							Cerrar sesión
						</a>							

						<span class="linedivide2"></span>

						<div class="header-wrapicon2">				
							<a href="{% url 'cart' %}" class="header-wrapicon1 dis-block">
								Ver carrito
							</a>							
						</div>
				{% else %}				
						<a href="{% url 'login' %}" class="header-wrapicon1 dis-block">
							Iniciar sesión
						</a>							
				{% endif %}
					</div>
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">					
						<a href="{% url 'index' %}">Inicio</a>
					</li>

					<li class="item-menu-mobile">
						<a>Tienda</a>
						<ul class="sub-menu">
							<li><a href="{% url 'products_list' 1 %}">Cerrajería</a></li>
							<li><a href="{% url 'products_list' 2 %}">Grifería</a></li>
							<li><a href="{% url 'products_list' 3 %}">Pinturas</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="">Ofertas</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'about' %}">Nosotros</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'contact' %}">Contáctanos</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

    {% block content %}{% endblock %}
    
    <!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					CONTACTANOS!
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Tienes alguna pregunta? Visitanos en nuestra tienda física en el centro de Alajuela o por medio de nuestras redes sociales:
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Nuestros productos
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Cerrajería
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Grifería
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Pinturas
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Inicio
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Tienda
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Nosotros
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Contáctanos
						</a>
					</li>
				</ul>				
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Inicio
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Tienda
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Nosotros
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Contáctanos
						</a>
					</li>
				</ul>				
			</div>
			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Inicio
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Tienda
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Nosotros
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Contáctanos
						</a>
					</li>
				</ul>				
			</div>

		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/bootstrap/js/popper.js' %}"></script>
        <script type="text/javascript" src="{% static 'tienda/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/select2/select2.min.js' %}"></script>
        <script type="text/javascript">
            $(".selection-1").select2({
                minimumResultsForSearch: 20,
                dropdownParent: $('#dropDownSelect1')
            });
        </script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/slick/slick.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'tienda/js/slick-custom.js' %}"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/lightbox2/js/lightbox.min.js' %}"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="{% static 'tienda/vendor/sweetalert/sweetalert.min.js' %}"></script>
   
		<script type="text/javascript">
           function addcart(nameProduct){

			   	if (nameProduct == 'Gracias por su compra!')
				   	swal(nameProduct, "Su compra fue realizada exitosamente!", "success");
			   	else if (nameProduct == 'Error su compra no se realizo')
					swal(nameProduct, "Su compra no fue realizada!", "error");
			   	else
                	swal(nameProduct, "fue añadido al carrito de compras!", "success");             
            };

			function notaddcart(nameProduct){
				if (nameProduct == 'Error su compra no se realizo')
					swal(nameProduct, "Su compra no fue realizada!", "error");
			   	else     
                	swal(nameProduct, "no fue añadido al carrito de compras porque no hay articulos suficientes en nuestro almacen", "error");
            };

            $('.block2-btn-addwishlist').each(function(){
                var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
                $(this).on('click', function(){
                    swal(nameProduct, "fue añadido a la lista deseos!", "success");
                });
            });
        </script>

    <!--===============================================================================================-->
		{% block javascript %}
    	{% endblock javascript %}
        <script src="{% static 'tienda/js/main.js' %}"></script>

		{% if messages %}
			{% for message in messages %}	
				{% if message.tags == 'success' %}
					<script type="text/javascript">				
						addcart('{{ message }}');
					</script>
				{% elif message.tags == 'error' %}
					<script type="text/javascript">				
						notaddcart('{{ message }}');
					</script>
				{% endif %}
			{% endfor %}
		{% endif %}
    </body>
</html>