{% extends "tienda/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({% static 'tienda/images/login.jpg' %});">
		<h2 class="l-text2 t-center">
			Inicia sesión y aprovecha nuestras ofertas!
		</h2>
	</section>

    <section class="bgwhite p-t-66 p-b-60 text-center">
		<div class="container">
			<div class="row">			
                <div class="col-md-6 p-b-30 mx-auto">
                    <form method="POST" class="leave-comment">
                        {% csrf_token %}
                        <h4 class="m-text26 p-b-36 p-t-15">
                            Iniciar sesión
                        </h4>
                        {% for field in form %}
                            {% if field.name == 'password' %}
                                <div class="bo4 of-hidden size15 m-b-20">
                                    <input class="sizefull s-text7 p-l-22 p-r-22" type="password" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                                </div>
                            {% else %}
                                <div class="bo4 of-hidden size15 m-b-20">
                                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text autofocus required" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                        <div class="w-size25 mx-auto">
                            <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="submit">Iniciar</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Aún no tienes una cuenta? <a class="ml-2" href="{% url 'register' %}">Registrate</a>
                        </small>
                    </div>           
                </div>
            </div>           
        </div>
    </section>
{% endblock content %}