{% extends "layout.html" %}

{% block title %}
    Chat 
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
        <form action="/signin" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Enter your username and sign in!" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}